## CV-JD Matching
### This Notebook focuses on matching JDs and CVs using cosine similarity using GPT-2 Model

In [2]:
import numpy as np
import pandas as pd

import re
import string 
import contractions 

from tqdm import tqdm
tqdm.pandas(desc="Progress Bar")

import torch
from datasets import load_dataset
from transformers import GPT2Tokenizer, GPT2Model
from sklearn.metrics.pairwise import cosine_similarity

/Users/zankhanamehta/Documents/NEU/NLP/Parse-Resume-main/.venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
jd_data = load_dataset('jacob-hugging-face/job-descriptions', split="train")
jd_data

Dataset({
    features: ['company_name', 'job_description', 'position_title', 'description_length', 'model_response'],
    num_rows: 853
})

In [4]:
jd_df = pd.DataFrame(jd_data)
jd_df.head()

,company_name,job_description,position_title,description_length,model_response
0,Google,minimum qualifications\nbachelors degree or eq...,Sales Specialist,2727,"{\n ""Core Responsibilities"": ""Responsible fo..."
1,Apple,description\nas an asc you will be highly infl...,Apple Solutions Consultant,828,"{\n ""Core Responsibilities"": ""as an asc you ..."
2,Netflix,its an amazing time to be joining netflix as w...,Licensing Coordinator - Consumer Products,3205,"{\n ""Core Responsibilities"": ""Help drive bus..."
3,Robert Half,description\n\nweb designers looking to expand...,Web Designer,2489,"{\n ""Core Responsibilities"": ""Designing webs..."
4,TrackFive,at trackfive weve got big goals were on a miss...,Web Developer,3167,"{\n ""Core Responsibilities"": ""Build and layo..."

In [5]:
print(jd_df['job_description'][0])

minimum qualifications
bachelors degree or equivalent practical experience years of experience in saas or productivity tools businessexperience managing enterprise accounts with sales cycles
preferred qualifications
 years of experience building strategic business partnerships with enterprise customersability to work through and with a reseller ecosystem to scale the businessability to plan pitch and execute a territory business strategyability to build relationships and to deliver results in a crossfunctionalmatrixed environmentability to identify crosspromoting and uppromoting opportunities within the existing account baseexcellent account management writtenverbal communication strategic and analyticalthinking skills
about the job
as a member of the google cloud team you inspire leading companies schools and government agencies to work smarter with google tools like google workspace search and chrome you advocate the innovative power of our products to make organizations more productive collaborative and mobile your guiding light is doing whats right for the customer you will meet customers exactly where they are at and provide them the best solutions for innovation using your passion for google products you help spread the magic of google to organizations around the world
the google workspace team helps customers transform and evolve their business through the use of googles productivity collaboration and content management suite of applications as part of an entrepreneurial team in this growing business you will help shape the future of businesses use technology to connect with customers employees and partners
as a google workspace sales specialist you will be responsible for maintenance and expansion of google workspace business growth across the region with customers in this role youll create and execute the strategy and provide unique insights on applying google workspace solutions to enterprisesyou will build an excellent pipeline and work with the account teams to build out the customer solution and establish partnerships you will strategize with partners to increase account and territory business growth you will work directly with customers coordinate internal resources and construct successful strategies at account and territory level
google cloud accelerates organizations ability to digitally transform their business with the best infrastructure platform industry solutions and expertise we deliver enterprisegrade solutions that leverage googles cuttingedge technology  all on the cleanest cloud in the industry customers in more than  countries and territories turn to google cloud as their trusted partner to enable growth and solve their most critical business problems

In [6]:
df = pd.read_csv('data/extracted_resume.csv')
df.head()

,Skills,Education,ID,Category
0,Excellent classroom managementÂ,Subject Matter Authorization in Science: Scien...,37201447,AGRICULTURE
1,"Team mediation, Budget Management, Delegation ...","2009 Howard University ï¼​ City , State , USA ...",12674256,AGRICULTURE
2,"COMPUTER LITERACY, E-mail, English, government...","2011\nThe Universty of Zambia ï¼​ City , State...",29968330,AGRICULTURE
3,"C, C++, communication skills, designing, ELISA...","Masters of Science , Biotechnology 5 2013 Univ...",81042872,AGRICULTURE
4,"Data Entry, Printers, Clients, Loans, Tax Retu...",Wayne State University 2013 MBA : Linguistics ...,20006992,AGRICULTURE

In [7]:
df.shape

(2484, 4)

In [ ]:
def text_cleaning(text:str) -> str:
    """
    Function to clean the text data
    
    Args:
    text (str): Text to be cleaned
    Returns:
    str: Cleaned text
    """

    if pd.isnull(text):
        return
    
    # lower-case everything
    text = text.lower().strip()
    
    # For removing puctuations
    translator = str.maketrans('', '', string.punctuation)
    
    # expand all the short-form words
    text = contractions.fix(text)
    
    # remove any special chars
    text = re.sub(r'http\S+|www\S+|https\S+', '', text) # Remove URLs
    text = re.sub(r'\S+@\S+', '', text) # Remove emails
    text = re.sub(r'\b\d{1,3}[-./]?\d{1,3}[-./]?\d{1,4}\b', '', text) # Remove phone numbers
    text = text.translate(translator) # Remove puctuations
    text = re.sub(r'[^a-zA-Z]', ' ', text) # Remove other non-alphanumeric characters
    
    return text.strip()

In [ ]:
# We have 15 Resumes where Skills & Education were not extracted
# So, let's remove them
cv_df = df[~(df['Skills'].isna() & df['Education'].isna())].reset_index(drop=True)

# Filling the null values in Skills & Education with Empty String before concatinating them
cv_df = cv_df.fillna(value='')

# Let's stitch together Skills & Education, similar to given in job description.
cv_df['CV'] = cv_df['Skills'] + ' ' + cv_df['Education']

# Doing text cleaning
cv_df['CV'] = cv_df['CV'].progress_apply(text_cleaning)

Progress Bar: 100%|██████████| 2469/2469 [00:00<00:00, 18007.57it/s]

In [10]:
cv_df.shape

(2469, 5)

In [11]:
# Sample job descriptions
job_descriptions = jd_df['job_description'].apply(text_cleaning)[:15].to_list() # jd_df['job_description'][:15]

# Sample resumes (replace with your extracted resume data)
resumes = cv_df['CV'].to_list()

## Creating Embedding using `GPT2Tokenizer`, `GPT2Model`

In [12]:
tokenizer = GPT2Tokenizer.from_pretrained("gpt2")
model = GPT2Model.from_pretrained("gpt2")

tokenizer.pad_token = tokenizer.eos_token
model.config.pad_token_id = tokenizer.pad_token_id

# Embedding function
def get_gpt2_embedding(text):
    if not text.strip():  # Handle empty string
        return np.zeros(model.config.hidden_size)
    
    tokens = tokenizer(text, return_tensors="pt", padding=True, truncation=True)
    if tokens["input_ids"].shape[1] == 0:
        return np.zeros(model.config.hidden_size)
    
    with torch.no_grad():
        outputs = model(**tokens)
    return outputs.last_hidden_state.mean(dim=1).squeeze().numpy()

# Generate embeddings
job_description_embeddings = [get_gpt2_embedding(desc) for desc in job_descriptions]
resume_embeddings = [get_gpt2_embedding(resume) for resume in resumes]

/Users/zankhanamehta/Documents/NEU/NLP/Parse-Resume-main/.venv/lib/python3.10/site-packages/huggingface_hub/file_download.py:896: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

In [13]:
job_description_embeddings[0].shape, resume_embeddings[0].shape

((768,), (768,))

In [14]:
len(job_description_embeddings), len(resume_embeddings)

(15, 2469)

## Calculating Similarity Score & Getting Top 5 Candidates

In [15]:
similarity_scores = cosine_similarity(job_description_embeddings, resume_embeddings)
similarity_scores

array([[0.9973296 , 0.99834927, 0.9969055 , ..., 0.99878311, 0.99674451,
        0.996813  ],
       [0.99610823, 0.99775191, 0.99539102, ..., 0.99843083, 0.99559432,
        0.99569584],
       [0.99702658, 0.9986651 , 0.9964485 , ..., 0.99858105, 0.99716343,
        0.9966288 ],
       ...,
       [0.99537926, 0.99751591, 0.99476767, ..., 0.99769908, 0.99567614,
        0.99477961],
       [0.9980274 , 0.99883912, 0.99729106, ..., 0.99898969, 0.99759107,
        0.99740252],
       [0.99784996, 0.99894311, 0.99718943, ..., 0.9989561 , 0.99742801,
        0.9973633 ]])

In [16]:
num_top_candidates = 10
top_candidates = []

for i, job_description in enumerate(job_descriptions):
    candidates_with_scores = list(enumerate(similarity_scores[i]))
    candidates_with_scores.sort(key=lambda x: x[1], reverse=True)
    top_candidates_for_job = candidates_with_scores[:num_top_candidates]
    top_candidates.append(top_candidates_for_job)

# Print the top candidates for each job description
for i, job_description in enumerate(job_descriptions):
    print(f"Top candidates for JD {i+1} - Postition: {jd_df['position_title'][i]}")
    for candidate_index, score in top_candidates[i]:
        print(f"  Candidate {candidate_index + 1} - Similarity Score: {score:.4f} - {cv_df['Category'][candidate_index]}/{cv_df['ID'][candidate_index]}.pdf")
        # print(f"  Resume: {resumes[candidate_index]}")
    print()

Top candidates for JD 1 - Postition: Sales Specialist
  Candidate 2085 - Similarity Score: 0.9995 - ADVOCATE/97405769.pdf
  Candidate 740 - Similarity Score: 0.9994 - PUBLIC-RELATIONS/24491862.pdf
  Candidate 2071 - Similarity Score: 0.9994 - APPAREL/29764492.pdf
  Candidate 225 - Similarity Score: 0.9994 - SALES/17410700.pdf
  Candidate 61 - Similarity Score: 0.9993 - AGRICULTURE/84512719.pdf
  Candidate 1932 - Similarity Score: 0.9993 - BUSINESS-DEVELOPMENT/20317319.pdf
  Candidate 1268 - Similarity Score: 0.9993 - INFORMATION-TECHNOLOGY/17111768.pdf
  Candidate 269 - Similarity Score: 0.9993 - SALES/54101961.pdf
  Candidate 1450 - Similarity Score: 0.9993 - CONSTRUCTION/30311725.pdf
  Candidate 855 - Similarity Score: 0.9992 - AVIATION/99416532.pdf

Top candidates for JD 2 - Postition: Apple Solutions Consultant
  Candidate 582 - Similarity Score: 0.9996 - CHEF/21869994.pdf
  Candidate 802 - Similarity Score: 0.9995 - PUBLIC-RELATIONS/14364597.pdf
  Candidate 649 - Similarity Score: 0.9994 - HEALTHCARE/13352113.pdf
  Candidate 686 - Similarity Score: 0.9994 - HEALTHCARE/20110597.pdf
  Candidate 233 - Similarity Score: 0.9993 - SALES/37792474.pdf
  Candidate 61 - Similarity Score: 0.9993 - AGRICULTURE/84512719.pdf
  Candidate 1042 - Similarity Score: 0.9993 - BANKING/30713796.pdf
  Candidate 521 - Similarity Score: 0.9993 - CHEF/16924102.pdf
  Candidate 2112 - Similarity Score: 0.9992 - ADVOCATE/22391901.pdf
  Candidate 790 - Similarity Score: 0.9992 - PUBLIC-RELATIONS/85766635.pdf

Top candidates for JD 3 - Postition: Licensing Coordinator - Consumer Products
  Candidate 1932 - Similarity Score: 0.9995 - BUSINESS-DEVELOPMENT/20317319.pdf
  Candidate 104 - Similarity Score: 0.9995 - ARTS/30594821.pdf
  Candidate 802 - Similarity Score: 0.9995 - PUBLIC-RELATIONS/14364597.pdf
  Candidate 1430 - Similarity Score: 0.9995 - CONSTRUCTION/19364677.pdf
  Candidate 83 - Similarity Score: 0.9995 - ARTS/32794700.pdf
  Candidate 225 - Similarity Score: 0.9994 - SALES/17410700.pdf
  Candidate 1551 - Similarity Score: 0.9994 - DESIGNER/36269672.pdf
  Candidate 61 - Similarity Score: 0.9994 - AGRICULTURE/84512719.pdf
  Candidate 50 - Similarity Score: 0.9994 - AGRICULTURE/62994611.pdf
  Candidate 815 - Similarity Score: 0.9994 - PUBLIC-RELATIONS/11850315.pdf

Top candidates for JD 4 - Postition: Web Designer
  Candidate 205 - Similarity Score: 0.9995 - SALES/19156751.pdf
  Candidate 922 - Similarity Score: 0.9995 - AVIATION/16279537.pdf
  Candidate 421 - Similarity Score: 0.9995 - DIGITAL-MEDIA/16276121.pdf
  Candidate 244 - Similarity Score: 0.9995 - SALES/15620421.pdf
  Candidate 297 - Similarity Score: 0.9995 - CONSULTANT/26234972.pdf
  Candidate 1430 - Similarity Score: 0.9995 - CONSTRUCTION/19364677.pdf
  Candidate 661 - Similarity Score: 0.9995 - HEALTHCARE/10466208.pdf
  Candidate 2029 - Similarity Score: 0.9995 - APPAREL/27694040.pdf
  Candidate 802 - Similarity Score: 0.9995 - PUBLIC-RELATIONS/14364597.pdf
  Candidate 1944 - Similarity Score: 0.9994 - BUSINESS-DEVELOPMENT/95382114.pdf

Top candidates for JD 5 - Postition: Web Developer
  Candidate 663 - Similarity Score: 0.9995 - HEALTHCARE/35579812.pdf
  Candidate 1477 - Similarity Score: 0.9994 - CONSTRUCTION/29878348.pdf
  Candidate 239 - Similarity Score: 0.9994 - SALES/21595057.pdf
  Candidate 227 - Similarity Score: 0.9994 - SALES/29184740.pdf
  Candidate 300 - Similarity Score: 0.9994 - CONSULTANT/27788376.pdf
  Candidate 2017 - Similarity Score: 0.9994 - APPAREL/21807211.pdf
  Candidate 2254 - Similarity Score: 0.9994 - TEACHER/10909720.pdf
  Candidate 120 - Similarity Score: 0.9994 - ARTS/99033098.pdf
  Candidate 1360 - Similarity Score: 0.9994 - HR/32308556.pdf
  Candidate 693 - Similarity Score: 0.9994 - HEALTHCARE/16121387.pdf

Top candidates for JD 6 - Postition: Frontend Web Developer
  Candidate 1799 - Similarity Score: 0.9996 - FITNESS/21238396.pdf
  Candidate 1430 - Similarity Score: 0.9996 - CONSTRUCTION/19364677.pdf
  Candidate 802 - Similarity Score: 0.9995 - PUBLIC-RELATIONS/14364597.pdf
  Candidate 250 - Similarity Score: 0.9995 - SALES/29211919.pdf
  Candidate 1454 - Similarity Score: 0.9995 - CONSTRUCTION/32799518.pdf
  Candidate 104 - Similarity Score: 0.9995 - ARTS/30594821.pdf
  Candidate 540 - Similarity Score: 0.9995 - CHEF/21622444.pdf
  Candidate 2003 - Similarity Score: 0.9995 - APPAREL/71499299.pdf
  Candidate 1780 - Similarity Score: 0.9995 - FITNESS/45656814.pdf
  Candidate 2182 - Similarity Score: 0.9994 - ADVOCATE/47133747.pdf

Top candidates for JD 7 - Postition: Remote Website Designer
  Candidate 2085 - Similarity Score: 0.9995 - ADVOCATE/97405769.pdf
  Candidate 855 - Similarity Score: 0.9995 - AVIATION/99416532.pdf
  Candidate 1149 - Similarity Score: 0.9995 - ACCOUNTANT/25547145.pdf
  Candidate 1450 - Similarity Score: 0.9995 - CONSTRUCTION/30311725.pdf
  Candidate 242 - Similarity Score: 0.9995 - SALES/17509935.pdf
  Candidate 735 - Similarity Score: 0.9995 - PUBLIC-RELATIONS/21549195.pdf
  Candidate 740 - Similarity Score: 0.9995 - PUBLIC-RELATIONS/24491862.pdf
  Candidate 2235 - Similarity Score: 0.9994 - TEACHER/28642819.pdf
  Candidate 609 - Similarity Score: 0.9994 - CHEF/15354126.pdf
  Candidate 2071 - Similarity Score: 0.9994 - APPAREL/29764492.pdf

Top candidates for JD 8 - Postition: Web Designer
  Candidate 205 - Similarity Score: 0.9997 - SALES/19156751.pdf
  Candidate 244 - Similarity Score: 0.9997 - SALES/15620421.pdf
  Candidate 661 - Similarity Score: 0.9996 - HEALTHCARE/10466208.pdf
  Candidate 1430 - Similarity Score: 0.9996 - CONSTRUCTION/19364677.pdf
  Candidate 297 - Similarity Score: 0.9996 - CONSULTANT/26234972.pdf
  Candidate 802 - Similarity Score: 0.9995 - PUBLIC-RELATIONS/14364597.pdf
  Candidate 736 - Similarity Score: 0.9995 - PUBLIC-RELATIONS/31220062.pdf
  Candidate 790 - Similarity Score: 0.9995 - PUBLIC-RELATIONS/85766635.pdf
  Candidate 1777 - Similarity Score: 0.9995 - FITNESS/13675377.pdf
  Candidate 998 - Similarity Score: 0.9995 - BANKING/33370664.pdf

Top candidates for JD 9 - Postition: Web Designer
  Candidate 104 - Similarity Score: 0.9995 - ARTS/30594821.pdf
  Candidate 1932 - Similarity Score: 0.9995 - BUSINESS-DEVELOPMENT/20317319.pdf
  Candidate 50 - Similarity Score: 0.9994 - AGRICULTURE/62994611.pdf
  Candidate 540 - Similarity Score: 0.9994 - CHEF/21622444.pdf
  Candidate 1295 - Similarity Score: 0.9994 - INFORMATION-TECHNOLOGY/22776912.pdf
  Candidate 1577 - Similarity Score: 0.9994 - DESIGNER/18979238.pdf
  Candidate 428 - Similarity Score: 0.9994 - DIGITAL-MEDIA/81508860.pdf
  Candidate 754 - Similarity Score: 0.9994 - PUBLIC-RELATIONS/12237267.pdf
  Candidate 83 - Similarity Score: 0.9994 - ARTS/32794700.pdf
  Candidate 2003 - Similarity Score: 0.9994 - APPAREL/71499299.pdf

Top candidates for JD 10 - Postition: SR. Web Designer
  Candidate 760 - Similarity Score: 0.9993 - PUBLIC-RELATIONS/28831442.pdf
  Candidate 2219 - Similarity Score: 0.9991 - TEACHER/33704389.pdf
  Candidate 1367 - Similarity Score: 0.9991 - HR/41523474.pdf
  Candidate 1633 - Similarity Score: 0.9990 - FINANCE/92524964.pdf
  Candidate 843 - Similarity Score: 0.9987 - AVIATION/12504278.pdf
  Candidate 2449 - Similarity Score: 0.9983 - AUTOMOBILE/91515108.pdf
  Candidate 2065 - Similarity Score: 0.9980 - APPAREL/15535408.pdf
  Candidate 1763 - Similarity Score: 0.9977 - FITNESS/30757456.pdf
  Candidate 1671 - Similarity Score: 0.9971 - FINANCE/26767199.pdf
  Candidate 817 - Similarity Score: 0.9968 - PUBLIC-RELATIONS/11624880.pdf

Top candidates for JD 11 - Postition: Web Developer
  Candidate 428 - Similarity Score: 0.9996 - DIGITAL-MEDIA/81508860.pdf
  Candidate 83 - Similarity Score: 0.9996 - ARTS/32794700.pdf
  Candidate 470 - Similarity Score: 0.9996 - DIGITAL-MEDIA/14761906.pdf
  Candidate 104 - Similarity Score: 0.9996 - ARTS/30594821.pdf
  Candidate 50 - Similarity Score: 0.9996 - AGRICULTURE/62994611.pdf
  Candidate 1577 - Similarity Score: 0.9996 - DESIGNER/18979238.pdf
  Candidate 1283 - Similarity Score: 0.9996 - INFORMATION-TECHNOLOGY/18159866.pdf
  Candidate 244 - Similarity Score: 0.9996 - SALES/15620421.pdf
  Candidate 736 - Similarity Score: 0.9995 - PUBLIC-RELATIONS/31220062.pdf
  Candidate 297 - Similarity Score: 0.9995 - CONSULTANT/26234972.pdf

Top candidates for JD 12 - Postition: Web Developer
  Candidate 802 - Similarity Score: 0.9996 - PUBLIC-RELATIONS/14364597.pdf
  Candidate 1430 - Similarity Score: 0.9996 - CONSTRUCTION/19364677.pdf
  Candidate 104 - Similarity Score: 0.9995 - ARTS/30594821.pdf
  Candidate 83 - Similarity Score: 0.9995 - ARTS/32794700.pdf
  Candidate 790 - Similarity Score: 0.9995 - PUBLIC-RELATIONS/85766635.pdf
  Candidate 1551 - Similarity Score: 0.9995 - DESIGNER/36269672.pdf
  Candidate 1055 - Similarity Score: 0.9995 - BANKING/33135102.pdf
  Candidate 50 - Similarity Score: 0.9995 - AGRICULTURE/62994611.pdf
  Candidate 61 - Similarity Score: 0.9995 - AGRICULTURE/84512719.pdf
  Candidate 1979 - Similarity Score: 0.9995 - BUSINESS-DEVELOPMENT/26896699.pdf

Top candidates for JD 13 - Postition: Senior UI Designer
  Candidate 922 - Similarity Score: 0.9995 - AVIATION/16279537.pdf
  Candidate 421 - Similarity Score: 0.9995 - DIGITAL-MEDIA/16276121.pdf
  Candidate 337 - Similarity Score: 0.9994 - CONSULTANT/25213006.pdf
  Candidate 1799 - Similarity Score: 0.9994 - FITNESS/21238396.pdf
  Candidate 20 - Similarity Score: 0.9994 - AGRICULTURE/34141299.pdf
  Candidate 244 - Similarity Score: 0.9994 - SALES/15620421.pdf
  Candidate 74 - Similarity Score: 0.9994 - ARTS/41950126.pdf
  Candidate 297 - Similarity Score: 0.9994 - CONSULTANT/26234972.pdf
  Candidate 213 - Similarity Score: 0.9993 - SALES/30529547.pdf
  Candidate 1087 - Similarity Score: 0.9993 - ACCOUNTANT/17407184.pdf

Top candidates for JD 14 - Postition: Wordpress Web Developer
  Candidate 1216 - Similarity Score: 0.9997 - INFORMATION-TECHNOLOGY/26768723.pdf
  Candidate 50 - Similarity Score: 0.9995 - AGRICULTURE/62994611.pdf
  Candidate 1268 - Similarity Score: 0.9995 - INFORMATION-TECHNOLOGY/17111768.pdf
  Candidate 1283 - Similarity Score: 0.9995 - INFORMATION-TECHNOLOGY/18159866.pdf
  Candidate 262 - Similarity Score: 0.9995 - SALES/55477468.pdf
  Candidate 83 - Similarity Score: 0.9995 - ARTS/32794700.pdf
  Candidate 61 - Similarity Score: 0.9994 - AGRICULTURE/84512719.pdf
  Candidate 1625 - Similarity Score: 0.9994 - DESIGNER/26790545.pdf
  Candidate 1312 - Similarity Score: 0.9994 - HR/29149998.pdf
  Candidate 2081 - Similarity Score: 0.9994 - ADVOCATE/20400279.pdf

Top candidates for JD 15 - Postition: UI Web Designer
  Candidate 1551 - Similarity Score: 0.9996 - DESIGNER/36269672.pdf
  Candidate 1780 - Similarity Score: 0.9996 - FITNESS/45656814.pdf
  Candidate 50 - Similarity Score: 0.9996 - AGRICULTURE/62994611.pdf
  Candidate 428 - Similarity Score: 0.9996 - DIGITAL-MEDIA/81508860.pdf
  Candidate 83 - Similarity Score: 0.9996 - ARTS/32794700.pdf
  Candidate 2081 - Similarity Score: 0.9995 - ADVOCATE/20400279.pdf
  Candidate 1268 - Similarity Score: 0.9995 - INFORMATION-TECHNOLOGY/17111768.pdf
  Candidate 609 - Similarity Score: 0.9995 - CHEF/15354126.pdf
  Candidate 1430 - Similarity Score: 0.9995 - CONSTRUCTION/19364677.pdf
  Candidate 104 - Similarity Score: 0.9995 - ARTS/30594821.pdf

In [17]:
selected_jd_indices = [0, 1, 2, 3, 4]

top_data = []

for jd_index in selected_jd_indices:
    # Top matching resume for this JD
    top_resume_index, top_score = top_candidates[jd_index][0]
    
    # Extract resume details
    resume_id = cv_df['ID'][top_resume_index]
    resume_cat = cv_df['Category'][top_resume_index]
    
    top_data.append({
        "JD Title": jd_df['position_title'][jd_index],
        "Resume ID": resume_id,
        "Resume Category": resume_cat,
        "Similarity Score": top_score
    })

top_resumes_df = pd.DataFrame(top_data)
top_resumes_df
# print(top_resumes_df)

,JD Title,Resume ID,Resume Category,Similarity Score
0,Sales Specialist,97405769,ADVOCATE,0.999457
1,Apple Solutions Consultant,21869994,CHEF,0.999566
2,Licensing Coordinator - Consumer Products,20317319,BUSINESS-DEVELOPMENT,0.999535
3,Web Designer,19156751,SALES,0.999545
4,Web Developer,35579812,HEALTHCARE,0.999458

Getting Top-10 Average Scores

In [18]:
avg_top10_scores = []

for jd_index in selected_jd_indices:
    top_10 = top_candidates[jd_index][:10]
    
    scores = [score for _, score in top_10]
    
    avg_score = sum(scores) / len(scores)
    
    avg_top10_scores.append({
        "JD Title": jd_df['position_title'][jd_index],
        "Average Top-10 Score": round(avg_score, 4)
    })

avg_top10_df = pd.DataFrame(avg_top10_scores)

print(avg_top10_df)

                                    JD Title  Average Top-10 Score
0                           Sales Specialist                0.9993
1                 Apple Solutions Consultant                0.9994
2  Licensing Coordinator - Consumer Products                0.9995
3                               Web Designer                0.9995
4                              Web Developer                0.9994

In [20]:
# Fixed selections
selected_jd_indices = [0, 1, 2, 3, 4]
selected_resume_indices = [1160, 1799, 2112, 1268, 1430, 1360, 713, 1944, 663, 1551]

# Initialize matrix
gpt_matrix = []

for resume_idx in selected_resume_indices:
    row = []
    for jd_idx in selected_jd_indices:
        sim_score = similarity_scores[jd_idx][resume_idx]
        row.append(round(sim_score, 4))
    gpt_matrix.append(row)

# Prepare column & row labels
jd_titles = [jd_df["position_title"][i] for i in selected_jd_indices]
resume_labels = [f"{cv_df['Category'][i]}/{cv_df['ID'][i]}" for i in selected_resume_indices]

# Create DataFrame
gpt_df = pd.DataFrame(gpt_matrix, index=resume_labels, columns=jd_titles)
gpt_df

,Sales Specialist,Apple Solutions Consultant,Licensing Coordinator - Consumer Products,Web Designer,Web Developer
ACCOUNTANT/75286906,0.9966,0.9958,0.9976,0.9973,0.9956
FITNESS/27974588,0.9940,0.9926,0.9944,0.9922,0.9954
ADVOCATE/14445309,0.9959,0.9942,0.9956,0.9944,0.9973
INFORMATION-TECHNOLOGY/29975124,0.9983,0.9975,0.9985,0.9979,0.9981
CONSTRUCTION/30397268,0.9971,0.9964,0.9970,0.9963,0.9979
HR/22323967,0.9985,0.9979,0.9989,0.9982,0.9978
HEALTHCARE/24025053,0.9966,0.9954,0.9965,0.9956,0.9976
BUSINESS-DEVELOPMENT/12546838,0.9973,0.9976,0.9970,0.9961,0.9957
HEALTHCARE/23944036,0.9977,0.9969,0.9972,0.9960,0.9988
DESIGNER/25023614,0.9987,0.9982,0.9985,0.9977,0.9989

The GPT-2 model produced consistently high similarity scores, with values ranging between 0.9922 and 0.9995 for all resume-JD combinations. This narrow range of near-perfect scores indicates a lack of meaningful variance across the comparisons. While this might initially appear to reflect strong semantic alignment, closer human evaluation revealed that GPT-2 failed to capture nuanced contextual differences between unrelated job descriptions and resumes. For example, a resume from the “Fitness” domain received similarity scores above 0.99 for technical roles like “Web Developer” and “Licensing Coordinator,” which are contextually mismatched. This overestimation is likely due to GPT-2’s autoregressive architecture, which is not optimized for sentence-pair embeddings and semantic understanding tasks